{{define "style"}}
    <style>
        .mostOfScreen {
            min-height:80vh;
        }
        .fillParent {
            min-width:100%;
        }
        .allOfScreen {
            min-height:100vh;
        }
    </style>
{{end}}

{{template "head" .}}

    <div class="content">
        <div class="col-sm-12">
            <div class="row">
                <div class="card col-sm-12 p-0 allOfScreen">
                    <div id="cardTitleBar">
                    </div>
                    <div class="card-body bg-dark">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="mostOfScreen bg-dark text-white fillParent" id="output" disabled></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-10">
                                <input id="input" class="form-control bg-dark text-white fillParent" type="text"/>
                            </div>
                            <div class="col-sm-2">
                                <button onclick="send()" id="sendButton" class="fillParent form-control bg-dark text-white p-0">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/x-template" id="cardTitleBarTemplate">
        <div class="card-header bg-dark text-white" id="cardTitleBar">
            <div class="row">
                <div class="col-sm-2 ml-2">
                    [[barContents]]
                </div>
                <div class="col-sm-1 bg-dark text-white">
                    Coinbase
                    <i class="fas fa-heartbeat" v-if="lastHeartBeat" style="color:red;"></i>
                    <i class="fas fa-heartbeat" v-if="!lastHeartBeat" style="color:grey;"></i>
                </div>
                <div class="col-sm-8 bg-dark text-white">
                    <div class="row">
                        <div class="col-sm-4">
                            <font v-if="dirBTC > 0" color="red">[[tickerBTC]] <i class="fas fa-arrow-down"></i></font>
                            <font v-if="!dirBTC" color="white">[[tickerBTC]] </font>
                            <font v-if="dirBTC < 0" color="#adff2f">[[tickerBTC]] <i class="fas fa-arrow-up"></i></font>
                        </div>
                        <div class="col-sm-4">
                            <font v-if="dirLTC > 0" color="red">[[tickerLTC]] <i class="fas fa-arrow-down"></i></font>
                            <font v-if="!dirLTC" color="white">[[tickerLTC]] </font>
                            <font v-if="dirLTC < 0" color="#adff2f">[[tickerLTC]] <i class="fas fa-arrow-up"></i></font>
                        </div>
                        <div class="col-sm-4">
                            <font v-if="dirETH > 0" color="red">[[tickerETH]] <i class="fas fa-arrow-down"></i></font>
                            <font v-if="!dirETH" color="white">[[tickerETH]] </font>
                            <font v-if="dirETH < 0" color="#adff2f">[[tickerETH]] <i class="fas fa-arrow-up"></i></font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script>
        scrollBottom = function(el) {
            return el.scrollTop = el.scrollHeight;
        };
        var input = document.getElementById("input");
        var output = document.getElementById("output");
        var socket = new WebSocket("wss://{{.Conf.WsHost}}/live");
        socketSetup();

        let cardTitleBarV = new Vue({
            el: "#cardTitleBar",
            template: "#cardTitleBarTemplate",
            data : {
                clientIP : {{.Ip}},
                barContents : "You are [ " + {{.Ip}} + " ] ",
                tickerBar: "",
                tickerBTC:"",
                tickerLTC:"",
                tickerETH:"",
                lastBTCBid: "",
                lastBTCAsk: "",
                lastLTCBid: "",
                lastLTCAsk: "",
                lastETHBid: "",
                lastETHAsk: "",
                dirBTC: 0,
                dirLTC: 0,
                dirETH: 0,
                lastHeartBeat: false,
                lastTicker: {btcUsd:0,ltcUsd:0,ethUsd:0}
            },
            delimiters:['[[',']]'],
            methods: {
                lastBeat(){
                    this.lastHeartBeat = !this.lastHeartBeat;
                },
                updateTickerBar() {
                    this.dirBTC = (this.lastTicker.btcUsd - this.lastBTCAsk); //negative value = new is higher
                    this.dirLTC = (this.lastTicker.ltcUsd - this.lastLTCAsk); //positive value = new is lower
                    this.dirETH = (this.lastTicker.ethUsd - this.lastETHAsk); //zero = new is same
                    this.tickerBTC = "BTC-USD - Ask $" + this.lastBTCAsk + " Bid $" + this.lastBTCBid;
                    this.tickerLTC = "LTC-USD - Ask $" + this.lastLTCAsk + " Bid $" + this.lastLTCBid;
                    this.tickerETH = "ETH-USD - Ask $" + this.lastETHAsk + " Bid $" + this.lastETHBid;
                    this.lastTicker.btcUsd = this.lastBTCAsk;
                    this.lastTicker.ltcUsd = this.lastLTCAsk;
                    this.lastTicker.ethUsd = this.lastETHAsk;
                }
            }
        });

        /////////
        function tryParseJSON (jsonString){
            try {
                var o = JSON.parse(jsonString);
                if (o && typeof o === "object") {
                    return o;
                }
            }
            catch (e) { }
            return false;
        };

        /////////
        function socketSetup() {
            socket.onopen = function () {
                output.innerHTML += "Status: Connected\n";
            };

            socket.onmessage = function (e) {
                let jObj = tryParseJSON(e.data);
                //console.log(e.data);
                if ( jObj ) {
                    switch(jObj.type) {
                        case 'heartbeat': {
                            cardTitleBarV.lastBeat();
                            break;
                        }
                        case 'ticker' : {
                            switch( jObj.product_id ) {
                                case 'BTC-USD': {
                                    cardTitleBarV.lastBTCBid = jObj.best_bid;
                                    cardTitleBarV.lastBTCAsk = jObj.best_ask;
                                    cardTitleBarV.updateTickerBar();
                                    break;
                                }
                                case 'LTC-USD': {
                                    cardTitleBarV.lastLTCBid = jObj.best_bid;
                                    cardTitleBarV.lastLTCAsk = jObj.best_ask;
                                    cardTitleBarV.updateTickerBar();
                                    break;
                                }
                                case 'ETH-USD': {
                                    cardTitleBarV.lastETHBid = jObj.best_bid;
                                    cardTitleBarV.lastETHAsk = jObj.best_ask;
                                    cardTitleBarV.updateTickerBar();
                                    break;
                                }
                            }
                            break;
                        }
                        case 'chatRaw':{
                            break;
                        }
                    }
                } else {
                    output.innerHTML += e.data + "\n";
                }
                scrollBottom(output);
            };

            socket.onerror = function (ev) {
                $('#output').append("Connection Error...\n");
                setTimeout(function() { socket = new WebSocket("wss://{{.Conf.WsHost}}/live"); socketSetup();},5000);
            }

            socket.onclose = function () {
                $('#output').append("Connection Lost.\n");
                setTimeout(function() { socket = new WebSocket("wss://{{.Conf.WsHost}}/live"); socketSetup(); },3000);
            }
        }

        function send() {
            let pat = /[^a-zA-Z0-9\s\,\.\+\!\@\#\$\%\^\&\*\(\)\_\-\=\:\;\<\>\~]+/g;
            input.value = input.value.replace(pat,'_');
            socket.send(input.value);
            input.value = "";
            $('#sendButton')[0].className = "fillParent form-control bg-success text-black p-0";
            setTimeout(function() {
                $('#sendButton')[0].className = "fillParent form-control bg-dark text-white p-0";
            },100);
        }

        $("#input").keyup(function(e){
            var code = e.which;
            if(code==13){
                e.preventDefault();
                send();
            }
        });


    </script>
{{template "foot"}}
