{{define "style"}}
    <style>
        .mostOfScreen {
            min-height:80vh;
        }
    </style>
{{end}}

{{template "head" .}}

    <div class="content">
        <div class="col-sm-12">
            <div class="row">
                <div class="card col-sm-12 ">
                    <div class="card-header header-info text-black">
                        {{.Ip}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <textarea class="col-sm-12 mostOfScreen bg-dark text-white" id="output" disabled></textarea>
                        </div>
                        <div class="row">
                            <input id="input" class="form-control bg-dark text-white" type="text" /></br>
                            <button onclick="send()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var input = document.getElementById("input");
        var output = document.getElementById("output");
        var socket = new WebSocket("ws://localhost/live");

        socket.onopen = function () {
            output.innerHTML += "Status: Connected\n";
        };

        socket.onmessage = function (e) {
            output.innerHTML += "Server: " + e.data + "\n";
        };

        socket.onerror = function (ev) {
            $('#output').append("Connection Error");
        }

        function send() {
            socket.send(input.value);
            input.value = "";
        }
    </script>
{{template "foot"}}
