{{define "style"}}
    <style>
        .mostOfScreen {
            min-height:80vh;
        }
        .fillParent {
            min-width:100%;
        }
        .allOfScreen {
            min-height:100vh;
        }
    </style>
{{end}}

{{template "head" .}}

    <div class="content">
        <div class="col-sm-12">
            <div class="row">
                <div class="card col-sm-12 p-0 allOfScreen">
                    <div id="cardTitleBar">
                    </div>
                    <div class="card-body bg-dark">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="mostOfScreen bg-dark text-white fillParent" id="output" disabled></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-10">
                                <input id="input" class="form-control bg-dark text-white fillParent" type="text"/>
                            </div>
                            <div class="col-sm-2">
                                <button onclick="send()" id="sendButton" class="fillParent form-control bg-dark text-white p-0">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/x-template" id="cardTitleBarTemplate">
        <div class="card-header bg-dark text-white" id="cardTitleBar">
            <div class="row">
                <div class="col-sm-2 ml-2">
                    [[barContents]]
                </div>
                <div class="col-sm-1 bg-dark text-white">
                    Coinbase
                    <i class="fas fa-heartbeat" v-if="lastHeartBeat" style="color:red;"></i>
                    <i class="fas fa-heartbeat" v-if="!lastHeartBeat" style="color:grey;"></i>
                </div>
                <div class="col-sm-2 bg-dark text-white">
                    [[lastTickerType]] - [[lastTickerValue]]
                </div>
            </div>
        </div>
    </script>

    <script>
        scrollBottom = function(el) {
            return el.scrollTop = el.scrollHeight;
        };
        var input = document.getElementById("input");
        var output = document.getElementById("output");
        var socket = new WebSocket("ws://{{.Conf.WsHost}}/live");
        socketSetup();

        let cardTitleBarV = new Vue({
            el: "#cardTitleBar",
            template: "#cardTitleBarTemplate",
            data : {
                clientIP : {{.Ip}},
                barContents : "You are [ " + {{.Ip}} + " ] ",
                lastTickerType: "",
                lastTickerValue: "",
                lastHeartBeat: false
            },
            delimiters:['[[',']]'],
            methods: {
                lastBeat(){
                    this.lastHeartBeat = !this.lastHeartBeat;
                }
            }
        });

        /////////
        function tryParseJSON (jsonString){
            try {
                var o = JSON.parse(jsonString);
                if (o && typeof o === "object") {
                    return o;
                }
            }
            catch (e) { }
            return false;
        };

        /////////
        function socketSetup() {
            socket.onopen = function () {
                output.innerHTML += "Status: Connected\n";
            };

            socket.onmessage = function (e) {
                let jObj = tryParseJSON(e.data);
                console.log(e.data);
                if ( jObj ) {
                    switch(jObj.type) {
                        case 'heartbeat': {
                            cardTitleBarV.lastBeat();
                            break;
                        }
                        case 'ticker' : {
                            cardTitleBarV.lastTickerType = jObj.product_id;
                            cardTitleBarV.lastTickerValue = "Ask $" + jObj.best_ask + " Bid $" + jObj.best_bid;
                            break;
                        }
                        case 'chatRaw':{
                            break;
                        }
                    }
                } else {
                    output.innerHTML += e.data + "\n";
                }
                scrollBottom(output);
            };

            socket.onerror = function (ev) {
                $('#output').append("Connection Error...\n");
                setTimeout(function() { socket = new WebSocket("ws://{{.Conf.WsHost}}/live"); socketSetup();},5000);
            }

            socket.onclose = function () {
                $('#output').append("Connection Lost.\n");
                setTimeout(function() { socket = new WebSocket("ws://{{.Conf.WsHost}}/live"); socketSetup(); },3000);
            }
        }

        function send() {
            let pat = /[^a-zA-Z0-9\s\,\.\+\!\@\#\$\%\^\&\*\(\)\_\-\=\:\;\<\>\~]+/g;
            input.value = input.value.replace(pat,'_');
            socket.send(input.value);
            input.value = "";
            $('#sendButton')[0].className = "fillParent form-control bg-success text-black p-0";
            setTimeout(function() {
                $('#sendButton')[0].className = "fillParent form-control bg-dark text-white p-0";
            },100);
        }

        $("#input").keyup(function(e){
            var code = e.which; // recommended to use e.which, it's normalized across browsers
            if(code==13){
                e.preventDefault();
                send();
            }
        });


    </script>
{{template "foot"}}
